/* ───────────────────────────────────────────────────────────────────
   「✦ WAYBAR STYLES ✦ 」
   ──────────────────────────────────────────────────────────────── */

/* ── IMPORTS ──────────────────────────────────────────────────────*/
@import "../../.cache/wal/colors-waybar.css";

/* ── GLOBAL ───────────────────────────────────────────────────────*/
* {
  font-family: "JetBrainsMono Nerd Font Propo";
  font-size: 14px;
  border: none;
  border-radius: 0px;
  min-height: 16px;
}

window#waybar {
  background: transparent;
  color: @foreground;
}

/* ── MODULES CONTAINER ────────────────────────────────────────────*/
.modules-left {
  background: alpha(@background,0.3);
  border: 1px solid #5E5E5E;
  border-radius: 15px;
  padding: 0px 6px;
  margin-left: 2px;
  padding-right: 0px;
}
.modules-center {
  background: alpha(@background,0.3);
  border: 1px solid #5E5E5E;
  border-radius: 15px;
  padding: 3px 2px;
}

.modules-right {
  background: alpha(@background,0.3);
  border: 1px solid #5E5E5E;
  border-radius: 15px;
  padding: 3px 2px;
  margin-right: 2px;
}


/* ── WORKSPACES ───────────────────────────────────────────────────*/
#workspaces {
  margin-right: 3px;
  padding-right: 2px;
}

#workspaces button {
  padding: 0 2px;
  color: alpha(@color7, 0.4);
  transition: 0.3s ease;
}

#workspaces button:hover {
  background: none;
  color: @foreground;
  box-shadow: none;
  text-shadow: none;
}

#workspaces button.active {
  color: @color10;
}

/* ── MODULES ──────────────────────────────────────────────────────*/
#clock,
#backlight,
#battery,
#wireplumber,
#custom-pomo,
#tray {
  padding: 0 8px;
  margin: 0;
}

#tray:hover,
#clock:hover,
#battery:hover,
#wireplumber:hover,
#custom-pomo:hover,
#backlight:hover {
  background: alpha(@foreground, 0.1);
  border-radius: 2px;
}

#custom-pomo.work  { color: #a3be8c; font-weight: bold; }
#custom-pomo.break { color: #88c0d0; font-weight: bold; }
#custom-pomo.long  { color: #b48ead; background: rgba(180,142,173,0.15); font-weight: bold; }
#custom-pomo.idle  { color: #616e88; font-weight: bold; }
#custom-pomo.finished { color: #bf616a; animation: blink 1.2s infinite; }
